aside.aside
  ul.nav-vertical--lighten
    li: a#siembras.active(href="#") Viveros de la red
    li: a#cosechas.active(href="#") Árboles para cosechar
    li: a#plantaciones.active(href="#") Plantaciones
    li: a#banco_semillas.active(href="#") Bancos de semillas
  p: a.boton-formulario(href="https://docs.google.com/forms/d/1sGsrso05ThbMokDlg-2zO53y1xUM-5PaIys8i3Z8yhU/viewform", target="_blank") Mapear un vivero de la red
  p: a.boton-formulario(href="https://docs.google.com/forms/d/1iVx8dbrYZQBFrRrG0yWd87mDBlCtPO-ViYJ_Nb27vTA/viewform", target="_blank") Mapear un árbol para cosechar
  p: a.boton-formulario(href="https://docs.google.com/forms/d/1RIBWLLITL4C3g7-ROcghs3Lq9JBdtMwlIX2WjV196mI/viewform", target="_blank") Mapear una plantación
  p: a.boton-formulario(href="https://docs.google.com/forms/d/1M8JJCxxBzAQrpmS9CXe3Rf_AT0j6B3dtQkGKFJWQqx8/viewform", target="_blank") Mapear un Banco de semillas
  include footer