aside.aside
  ul.nav-vertical--lighten
    li: a(href="#") Árboles Nativos/Frutal/Medicinal
    li: a(href="#") Canteros disponibles
    li: a(href="#") Viveros satelitales
    li: a(href="#") Árboles madres
    li: a(href="#") Viveros didacticos/capacitaciones
    li: a(href="#") Reservas naturales
  p: a.boton-formulario(href="https://docs.google.com/forms/d/1dxAsrKamJTD7hZ04Knang5LB3e6tHDLYNa1MqUVeuYA/viewform", target="_blank") Cargar árbol
  include footer