footer.footer
  p.legal
    | Un proyecto de 
    a(href="http://coperable.org/", target="_blank") Coperable, 
    a(href="https://www.facebook.com/germinarong", target="_blank") Germinar, 
    a(href="https://www.facebook.com/UnArbolParaMiVereda", target="_blank") Un árbol para mi vereda
  p.developed
    a.developed__body(href="http://www.banquito.com.ar/", target="_blank") Desarrollado en colaboración con 
      span.developed__brand Banquito