/* vars */

$titleFont       = 'Open Sans', Helvetica, Arial, sans-serif
$textFont        = 'Open Sans', Helvetica, Arial, sans-serif

$backgroundColor = #fff

$textColor       = #333
$titleColor      = #43B22E

$lineColor       = #E54000

$titleColorLight = lighten($titleColor, 15%)
$titleColorDark = darken($titleColor, 15%)
  
$linkColor       = #CC6D35
$linkColorOver   = darken($linkColor, 15%)

$errorColor      = #b34e4d  
$warningColor    = #c09854
$noticeColor     = #3986ac
$successColor    = #458746


$media = '../'

/* jeet */

jeet.max-width = 960px

/* rupture scale */

rupture.scale = 0 400px 600px 800px 1050px
rupture.anti-overlap = -1px


/* add objects */

$use-debug      = false
$use-reset      = true
$use-font       = true
$use-breadcrumb = false
$use-form       = true
$use-flashes    = true
$use-gallery    = false
$use-helpers    = false
$use-hints      = false
$use-grid       = false
$use-media-box  = false
$use-modal      = false
$use-nav        = true
$use-print      = false
$use-pagination = false
$use-table      = false
$use-tabs       = false